body{
  margin: 0px;
  background-image: url("wolfgang-hasselmann-KfeSoQy3txI-unsplash.jpg");
  background-size: 100%;
}
h1{
  text-align: center;
  border-bottom: 5px solid hotpink;
  padding: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  color: hotpink;
  display: block;
}
#grid{
  display: grid;
  display: run-in;
  grid-template-columns: 150px 1fr;
}
#grid ul{
  color: hotpink;
  border-right: 5px solid hotpink;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 30px;
  font-size: x-large;
}
#grid #in_text_japan{
  margin-left: 30px;
  margin-right: 30px;
  color: hotpink;
  font-size: xx-large;
}

#grid_korea{
  display: none;
  grid-template-columns: 150px 1fr;
}
#grid_korea ul{
  color: hotpink;
  border-right: 5px solid hotpink;
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 30px;
  font-size: x-large;
}
#grid_korea #in_text_korea{
  margin-left: 30px;
  margin-right: 30px;
  color: hotpink;
  font-size: xx-large;
}
a {
  color: hotpink;
  text-decoration: none;
}
input{
  margin: 15px;
  margin-bottom: 0px;
}
#disqus_thread{
  padding: 30px;
}
